*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.body{
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  
}

.main-content{
  flex-grow: 1;
  padding: 40px;
  background-color: #ecf0f1;
}